# TinyMesh cloud API
TM_USERNAME = 'user@host.no'
TM_PASSWORD = 'teh_password'
TM_NETWORK = 'NETWORK'

# Database
DB_HOST = 'dbhost'
DB_NAME = 'dbname'
DB_USER = 'dbuser'
DB_PASSWORD = 'dbpassword'

# Set to True if you want to update the devices from the API. Should be False in production.
UPDATE_DEVICES = False

# Register your hooks here.
HOOKS = {}
